*{
    margin: 0px;
    padding: 0px;
    
body{
    background-color: rgb(248, 245, 245);
}

}
.heading{
    font-size: 40px;
    color: chocolate;
    margin-left: 3px;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #b8d7e2;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.search_bar{
    display: flex;
    justify-content: end;
}
.img{
    display: flex;
    justify-content: start;
}
.nav-options{
    color: rgb(25, 17, 7);
    font-size: 25px;
}
.H-container{
    display: flex;
    flex-wrap: wrap;
    padding-top: 15px;
   
}


.img-container{
    
    width: 200px;
    margin: 10px;
   
}
.bottom-img{
    border-radius: 10px;
    box-shadow: 6px 3px 6px 3px rgb(20, 19, 19);
}
.bottom-img:hover{
    scale: 1.1;

}
.img-content{
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(248, 245, 245);
    width: 200px;
}
.button{
    width: 140px;
    height: 35px;
    border-style: solid;
    border-radius: 15px;
    background-color: red;
    color: white;
    font-weight: bold;
    margin-top: 40px;
}
footer{
    text-align: center;
    font-size: 30px;
    margin: 20px;

}